h1 {
    text-align: center;
    background-color: dodgerblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.robot-list {
    list-style-type: none
}

.detail-sheet {
    border: 1px solid black;
    width: 80%;
    text-align: left;
}


.detail-sheet tr td{
    border: 1px solid black;
}